.headder{
    border-color: purple;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.headder .h1{
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
}
h1{
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-size: 250%;
}
.logo{
    margin-left: -20px;
    margin-top: -20px;
}
.button{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    float: left;
}
button:hover{
    color: red;
}
body{
    background-color: palegoldenrod;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    float: right;
    font-weight: bolder;
    font-style: italic;
    color: green;
    padding: 50px;
}
